* {
    font-family: 'Oxanium', cursive;
}
html, body {
    margin:0;
    padding: 0;
}

div#bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/bg.jpg'), linear-gradient(to bottom, rgb(0, 216, 126), #00a59a);
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 60%;
}

div#body {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

div#body div#main{
    background-color: #eee;
    border-radius: 10px;
    border: 3px solid #eee;
}

img#avatar {
    max-width: 260px;
    max-height: 260px;
    border-radius: 50%;
    border: 6px solid #eee;
    box-shadow: 5px 2.5px 2px #0009;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

a#nick {
    color: #eee;
    text-shadow: 2px 2px 2px #0009;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0;
    margin: 0;
}

a#nick:hover {
    color: #ccc;
}

p#name {
    color: #eee;
    text-shadow: 2px 2px 2px #0009;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: default;
}

p#name:hover {
    color: #ccc;
}

div#card {
    background: linear-gradient(to bottom, rgb(0, 179, 104), #00665f);
    padding: 20px 20px 10px 20px;
    border-radius: 10px 0px 0px 10px;
    transition: transform 0.6s ease, box-shadow 0.6s ease, border-radius 0.6s ease;
}

div#card:hover {
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 0px 10px 1px #0004;
}

div#info {
    padding: 3px 20px;
    /* width: 300px; */
    font-size: 20px;
    text-shadow: 2px 2px 1px #3332;
}

div#info p {
    padding:0;
    margin-bottom:15px;
}

a.contactIcon {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

a.contactIcon i {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    font-size: 30px;
    margin-right: 3px !important;
}

a.contactIcon i:hover {
    transform: translateY(-3px);
    text-shadow: 2px 5px 1px #3332;

}