* {
    font-family: 'Oxanium', cursive;
}
html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('../img/bg.jpg'), linear-gradient(to bottom, rgb(0, 216, 126), #00a59a, rgb(0, 216, 126));
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-size: 60%;
    animation: bg-move 3000s linear infinite;
    scroll-behavior: smooth;
    /* mix-blend-mode: lighten; */
}

@keyframes bg-move {
    0%, 100% {
        background-position-x: 0vw;
        background-position-y: 0vh;
    }
    50% {
        background-position-x: 1000vw;
        background-position-y: 1000vh;
    }
}

div#body {
    /* mix-blend-mode: multiply; */
    /* z-index: 0; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

div#body div#main{
    background-color: #eee;
    border-radius: 10px;
    border: 3px solid #eee;
    display: flex !important;
    margin: 5% 20%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        box-shadow: 0px 0px 2px #0009;
    }
    50% {
        transform: translateY(-8px);
        box-shadow: 0px 10px 2px #0009;
    }
}


img#avatar {
    max-width: 260px;
    max-height: 260px;
    border-radius: 50%;
    border: 6px solid #eee;
    box-shadow: 0 0 10px #0009;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

a#nick {
    color: #eee;
    text-shadow: 2px 2px 2px #0009;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0;
    margin: 0;
}

a#nick:hover {
    color: #ccc;
}

p#name {
    color: #eee;
    text-shadow: 2px 2px 2px #0009;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: default;
}

p#name:hover {
    color: #ccc;
}

div#card {
    background: linear-gradient(to bottom, rgb(0, 179, 104), #00665f);
    padding: 20px 20px 10px 20px;
    border-radius: 10px 0px 0px 10px;
    transition: transform 0.6s ease, box-shadow 0.6s ease, border-radius 0.6s ease;
}

div#card:hover {
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 0px 10px 1px #3334;
}

div#info {
    padding: 3px 20px;
    background-color: #eee;
    /* height: 100vh; */
    max-width: 300px;
    font-size: 20px;
    text-shadow: 2px 2px 1px #3332;
}

div#info p {
    padding:0;
    margin-bottom:4px;
}

a.iconLink {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    transition: transform 0.3s ease, text-shadow 0.3s ease !important;
    font-size: 30px !important;
    margin-right: 3px !important;
}

a.iconLink:hover {
    transform: translateY(-3px) !important;
    text-shadow: 2px 5px 1px #3332 !important;
}

footer {
    background-color: #eee;
    font-size: 25px;
    padding: 5px 15px;
    margin: 0;
    border-radius: 50px;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

footer p {
    margin: 0;
    padding: 0;
}

footer:hover {
    opacity: 1;
}