nav.header {
    width: 100%;
    background-color: #fafafa;
    padding: 0 10px;
    height: 55px;
    color: #333;
    display: flex;
    align-items: center;
}

nav.header ul {
    list-style: none;
    display: block;
}

div.header ul[dropdownState=inactive] {
    display: block;
}

nav.header ul li{
    display: inline-block;
    transition: all 0.2s ease;
    height: 55px;
    cursor: pointer;
}

nav.header ul li:hover{
    background-color: #009688;
    color: #fafafa !important;
}

nav.header ul li a {
    display: block;
    line-height: 55px;
    padding: 0 20px;
    user-select: none;
    text-decoration: none;
    -webkit-user-drag: none;
}

nav.header p.title {
    font-size: 20px;
    color: #009688;
    user-select: none;
    font-weight: 600;
    margin: 0 50px 0 0;
}


img.logo {
    width: 40px;
    height: 40px;
    border-radius: 0.50rem;
    margin: 0 10px 0 0;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 1s ease;
}

img.logo:hover {
    transform: rotateZ(720deg);
    filter: hue-rotate(720deg);
}

button.dropdown {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #fafafa;
    border: none;
    outline: none;
    border-radius: 0.30rem;
    transition: all 0.2s ease;
}

button.dropdown:hover, button.dropdown[dropdown=active] {
    background-color: #009688;
    color: #fafafa;
}

button.dropdown i {
    font-size: 18px;
    line-height: 40px;
    width: 40px;
}

@media screen and (max-width: 657px) {
    nav.header ul {
        display: none;
        position: absolute;
        background-color: #fafafa;
        top: 55px;
        right: 0;
        text-align: center;
        overflow: hidden;
        box-shadow: 2px 2px 1px #0009;
        min-width: 200px;
    }

    nav.header ul[dropdownState=inactive]{
        display: none;
    }

    nav.header ul[dropdownState=active]{
        display: block;
    }

    nav.header ul li {
        display: block;
    }

    nav.header p.title {
        word-break: break-word;
        width: 90px;
        font-size: 16px;
        margin: 0;
    }

    button.dropdown {
        display: block;
    }

    nav.header {
        justify-content: space-between;
    }
}